  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <table class="table">
                <thead>
                    <tr>
                    <th>Job ID</th>
                    <th>Job Title</th>
                    <th>Minimum Salary</th>
                    <th>Maximum Salary</th>
                    <th></th>
                    <th></th>
                    </tr>
                </thead>
            
            <tbody>
            <% for(let count = 0; count < jobList.length; count++){%>
            <tr> 
                <td> <%= jobList[count].JOB_ID %> </td>
                <td> <input type="text" class="form control" id="jobTitle<% count %>" value="<%= jobList[count].JOB_TITLE %>"></td>
                <td> <input type="text" class="form control" id="minSal<% count %>" value="<%= jobList[count].MIN_SALARY %>"></td>
                <td> <input type="text" class="form control" id="maxSal<% count %>" value="<%= jobList[count].MAX_SALARY %>"></td>
                <td> <a href="#" class="btn btn-primary">Update</a></td>
                <td><form action="#" method="POST"><button type="submit" class="btn btn-danger">Delete</button></form></td>
            </tr>
            <% } %>
            </tbody>
            
            </table>
        </div>
    </div>
  </main>
