
  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-11">
            <h1><%= title %></h1>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row -->
                <table class="table">
                <thead>
                    <tr>
                    <th>Employee ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Hire Date</th>
                    <th>Job ID</th>
                    <th>Salary</th>
                    <th></th>
                    </tr>
                </thead>
            
            <tbody>
            <% for(let count = 0; count < employeeList.length; count++){%>
            <tr> 
                <form method="POST" action="/employee/list/<%= employeeList[count].EMPLOYEE_ID %>">
                <td> <%= employeeList[count].EMPLOYEE_ID %></td>
                <td> <%= employeeList[count].FIRST_NAME %></td>
                <td> <%= employeeList[count].LAST_NAME %></td>
                <td> <input type="text" class="form-control" id="email<%= employeeList[count].EMPLOYEE_ID %>" name="emailField" value="<%= employeeList[count].EMAIL %>"></td>
                <td> <input type="text" class="form-control" id="phone<%= employeeList[count].EMPLOYEE_ID %>" name="phoneField" value="<%= employeeList[count].PHONE_NUMBER %>"></td>
                <td> <%= employeeList[count].HIRE_DATE.toLocaleDateString('el-GR') %></td>
                <td> <%= employeeList[count].JOB_ID %></td>
                <td> <input type="text" class="form-control" id="salary<%= employeeList[count].EMPLOYEE_ID %>" name="salaryField" value="<%= employeeList[count].SALARY %>"></td>
                <td> <button id="<%= employeeList[count].EMPLOYEE_ID %>update" class="btn btn-primary" type="submit">Update</button>
                </form>
            </tr>
            <% } %>
            </tbody>

            </table>
        </div>
    </div>
  </main>
