<div class="container">
  <div class="row">
    <div class="offset-md-4 col-md-4">
          <h1><%= title %></h1>
          <form class="form" method="POST">
          <fieldset>
            <legend>Personal Info</legend>              
                <!-- Employee Personal Info -->
                <div >
                  <label for="firstNameField">First Name</label>
                  <input type="text" class="form-control" id="firstNameField"
                  name="firstName" required>
                </div>

                <div class="form-group">
                  <label for="lastNameField">Last Name</label>
                  <input type="text" class="form-control" id="lastNameField"
                  name="lastName" required>
                </div>

                <div class="form-group">
                  <label for="emailField">Email</label>
                  <input type="text" class="form-control" id="emailField"
                  name="email" required>
                </div>

                <div class="form-group">
                  <label for="phoneField">Phone Number</label>
                  <input type="text" class="form-control" id="phoneField"
                  name="phone" required>
                </div>
          </fieldset>
          <br>
          <fieldset>
            <legend>Job Info</legend>
            <div class="form-group">
              <label for="hireDateField">Hire Date</label>
              <input type="date" class="form-control" id="hireDateField"
              name="hireDate" required >
            </div>

            <div class="form-group">
              <label for="jobIDField">Job ID</label>
              <select class="form-control" id="jobID"
              name="jobID" required>
                <option value="Placeholder">Select Job Title</option>
                <% for(let count = 0; count < jobList.length; count++){%>
                  <option value="<%= jobList[count].JOB_ID %>"><%= jobList[count].JOB_TITLE %></option>
                <% }%>
              </select>
            </div>

            <div class="form-group">
              <label for="salaryField">Salary</label>
              <input type="text" class="form-control" id="salaryField"
              name="salary" required>
            </div>
          </fieldset>
          <br>
          <fieldset>
            <legend>Manager</legend>
            <div class="form-group">
              <label for="managerIDField">Manager Name</label>
              <select class="form-control" id="managerID"
              name="managerID" required>
                <option value="Placeholder">Select Manager Name</option>
                <% for(let count = 0; count < managerList.length; count++){%>
                  <option value="<%= managerList[count].EMPLOYEE_ID %>"><%= managerList[count].LAST_NAME %>, <%= managerList[count].FIRST_NAME %></option>
                <% }%>
              </select>
            </div>

            <fieldset>
            <legend>Department</legend>
            <div class="form-group">
              <label for="deptIDField">Department</label>
              <select class="form-control" id="deptID"
              name="deptID" required>
                <option value="Placeholder">Select Department</option>
                <% for(let count = 0; count < departmentList.length; count++){%>
                  <option value="<%= departmentList[count].DEPARTMENT_ID %>"><%= departmentList[count].DEPARTMENT_NAME %></option>
                <% }%>
              </select>
            </div>
          </fieldset>

          <fieldset>
          <br>
          <button class="btn btn-primary" type="submit"> Submit</button>

          <a href="/" class="btn btn-warning"> Cancel</a>
          </fieldset>
        </form>
        <br><br><br><br>
    </div>
  </div>
</div>
          <script>
            document.getElementById("hireDateField").valueAsDate = new Date();
          </script>
          