<!-- Jason McAuslan -->
<!-- 301279046 -->
<!-- June 18th, 2023 -->
<!-- index.ejs -->

<%- include('partials/header.ejs') %>

<%- include('partials/main_nav.ejs') %>

<%- include('partials/page_banner.ejs') %>

  <!-- Home Page Content -->
<div class="container">
<h1>Welcome to our COMP 214 Group Project</h1>
<p>Please make use of the navbar for site navigation</p>
</div>

<%- include('partials/bottom_nav.ejs') %>

<%- include('partials/footer.ejs') %>
